<% layout('layouts/boilerplate')%>
<div class="container-fluid">
    <div class="row">
        <% for(let product of user.products) {%>
            <div class="card mb-4 ms-3 col-6">
                <div class="card-body row">
                    <div class="col-6">
                        <img src="<%=product.images[0].thumbnail %>" class="img-thumbnail" alt=""> <br>
                        <a href="/<%=product._id %> " class="card-link" style="font-size: 24px; text-decoration: none;"><%=product.name %></a>
                        <p class="card-text"><%=product.price %> </p>   
                    </div>
                    <div class="col-6">
                        <div class="card-body">
                            <p class="card-text"><%=product.description %> </p>   
                        </div>
                    </div>
                    <form action="/<%=currentUser._id %>/<%=product._id %>/cart?_method=DELETE" method="POST">
                        <button class="btn btn-sm btn-danger">Remove from Cart</button>
                    </form>
                </div>
            </div>
            <% } %>  
    </div>
    
</div>